.control-label {
    font-weight: bold !important;
}

#main-section {
    display: block;
}

p {
    color: #8d99a6;
}

h3 {
    font-size: 20px;
}

#first-column {
    width: 1%;
    white-space: nowrap;
}

table
    input {
        width: 100%;
        padding: 0;
        margin: 0;
        border: none;
        font-size: 12px;
    }

td {
    padding: 5px !important; 
}

/* size of table should be fitted to section */
table {
    width: 100%;
}

.page-footer-actions-block {
    text-align: right;
}

.grey-checkmark {
    color: lightgrey;
    font-size: 16px;
    font-family: Impact, sans-serif !important;
    font-weight: 900;
}

/* green checkmark that is very very very fat */
.green-checkmark {
    color: green;
    font-size: 18px;
    font-family: Impact, sans-serif !important;
    font-weight: 1200 !important;
}