.container {
  margin: 0px;
  margin-left: 118px;
  width: 100% !important;
}

#fullPage {
  display: flex;
  width: 100%;
  justify-content: start;
  width: 100% !important;
}

.firtsDiv {
  width: 30%;
  z-index: 1;
}

.scondDiv {
  width: 70%;
}

.error {
  width: 100%;
  height: 100%;
  margin: 100px;
  margin-left: 450px;
  text-transform: uppercase;
  font-size: 20px;
  opacity: 0.5;
}


#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 2;
}

.popUp {
  width: 650px;
  background-color: white;
  border: 1px solid #E94E26;
  padding: 25px;
  margin: 15% auto;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
}

.popUpContent {
  display: flex;
  flex-direction: column;
}

.popUpTittle {
  font-size: 16px;
  color: #E94E26;
}

.popUpText {
  font-size: 13px;
  color: #E94E26;
  margin: 0px;
  text-transform: uppercase;
}

.popUpTable {
  width: 90%;
  color: #003764;
  font-size: 13px;
  margin: 20px;
  margin-left: 0px;
  text-transform: uppercase;
}

.popUpTable {
  width: 90%;
  color: #003764;
  font-size: 13px;
  margin: 20px;
  margin-left: 0px;
  text-transform: uppercase;
}

.popUpImg {
  width: 5%;
}

.popUpBtnDiv {
  display: flex;
  margin-top: 20px;
  
}

.popUpCancel {
  font-size: 12px;
  color: #E94E26;
  border: 1px #E94E26 solid;
  background: white;
  padding: 5px;
  text-align: center;
  margin-right: 8px; 
  width: 98px;
  height: 36px;
  text-decoration: none;
}

.popUpConfirm {
  font-size: 12px;
  color: white;
  border: 1px #E94E26 solid;
  background: #E94E26;
  padding: 5px;
  text-align: center;
  width: 114px;
  height: 36px;
  text-decoration: none;
}

.title {
  font-size: 45px;
  color: #E94E26;
  padding-left: 14px;
}

#selectedFilters {
  width: 1052px;
  border-bottom: 1px solid #E8E8E8;
  margin-left: 15px;
  margin-bottom: 20px;
  margin-top: 0px;
  display: flex; 
  padding: 0px;
}

.filter {
  width: auto;
  border: none;
  border-radius: 0px;
  color: white;
  font-size: 10px;
  outline: none;
  padding: 10px 15px;
  cursor: pointer;
  margin: 2px;
  margin-bottom: 20px;
  text-transform: uppercase; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.orangeFilter {
  margin-left: 0px;
  background: #E94E26;
  text-align: center;
}

.datumBlueFilter, .themaBlueFilter {
  background: #003764;
}

.grey {
  filter: grayscale(1);
  opacity: 0.3;
}

.filterDiv {
  float: left;
  border: 1.5px solid #003764;
  color: #003764;
  width: 330px;
  height: 234px;
  padding: 20px;
  padding-bottom: 0px;
  padding-right: 0px;
  margin: 5.7px;
  margin-bottom: 6px;
  display: none;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.show {
  display: block;
}

.ticketsName, .dateName, .dateNum, .timeName  {
  font-size: 35px;
  color: #003764;
  font-weight: lighter;
  padding-right: 15px !important;
  padding-top: 40px !important;
  text-align: start;
  text-transform: uppercase;
}

.blockContainer {
  margin-right: 20px;
}

.blockTitle {
  color: #003764;
  padding-bottom: 0px;
  margin: 0px;
  margin-bottom: 5px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.35;
}

.blockTime {
  margin: 0px;
  margin-bottom: 5px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  height: auto;
}

.blockText {
  font-size: 14px;
  margin: 0px;
  margin-right: 10px;
  font-size: 13px;
}

.buttonsContainer {
  display:flex;
  justify-content: end;
  position: absolute;
  bottom: 0px;
  padding-bottom: 10px;
}

.cart, .info {
  background: #009FE3;
  border: none;
  width: 36px;
  height: 36px;
  margin-left: 4px;
  font-size: 8px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart {
  background: #E94E26;
}

.cart:hover,.info:hover {
  text-decoration: none;
  color: white;
  
}

.infoImg, .cartImg {
  width: 100%;
  height: 100%;
  padding: 2px;
  filter: brightness(10);
  filter: contrast(10);
}

.infoImg:hover {
  transform: scaleX(-1);
}

.cartImg:hover {
  transform: rotate(-10deg);
}

#filterBtnContainerOne, #filterBtnContainerTwo, #filterBtnContainerThree {
  margin-bottom: 25px;
  width: 1012px;
  margin-left: 15px;
}

#filterBtnContainerThree {
  margin-bottom: 0px;
}

.display {
  margin-left: 15px;
  width: 1042px;
}

.filterTitle {
  color: #009FE3;
  font-size: 10px;
}

#userMenu {
  text-transform: uppercase;
  list-style: none;
}

.dropdownImg {
  width: 25px;
  height: 15px;
  text-align: center;
}

#dropdown {
  padding-left: 0px;
  left: 0;
}

ul {
  list-style: none
}

.btnOrange, .userMenuClass  {
  width: 200px;
  border: 1px solid #E94E26;
  border-radius: 0px;
  color: #E94E26;
  font-size: 12px;
  outline: none;
  padding: 12px 16px;
  cursor: pointer;
  margin: 2px;
  background: none;
  text-decoration: none;
  text-align: center;
}

.userMenuClass  {
  color: white;
  background-color: #E94E26;
  display: flex;
  justify-content: space-evenly;
}

.userMenuClass p {
  margin: 0px;
}

.btnOrange:hover {
  background: #E94E26;
  color: white;
}

.btnOrange.active {
  background: #E94E26;
  color: white;
}

.btn {
  border: 1px solid #003764;
  border-radius: 0px;
  color: #003764;
  font-size: 12px;
  outline: none;
  padding: 12px 16px;
  cursor: pointer;
  margin: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.btnHover:hover {
  background: #003764;
  color: white;
}

.btn.active {
  background: #003764;
  color: white;
}

.datumBtn {
  width: 200px;
}

#warenkorb {
  width: 320px;
  border: 1px solid #E94E26;
  color: #E94E26;
  font-size: 12px;
  outline: none;
  padding: 12px 14px;
  cursor: pointer;
  position: fixed;
  margin-left: 780px;
  margin-top: 10px;
}

.cartLeer {
  color: #003764;
  margin: 13px;
  margin-left: 0px;
}

.shake {
  animation:  shake 0.8s;
}

@keyframes shake{
  0%{
      transform: translateX(0)
    }
    25%{
      transform: translateX(5px);
    }
      
    50%{
      transform: translateX(-6px);
    }
    100%{
      transform: translateX(0px);
    }
}

.cartTotal {
  color: #003764;
  font-weight: bold;
  margin-right: 33px;
  margin-left: 3px;
  display: flex;
  flex-direction: column;
}

.alleArtikel {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 16px;
}

.totalDisplay {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  height: 31px;
  margin-right: 4px;
}

.infoDiv {
  width: 100%;
  margin: 5px;
  display: flex;
  font-weight: normal;
  align-content: center;
  font-size: 13px;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.infoI {
  border: 2px solid #003764;
  border-radius: 100%;
  margin-right: 15px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 10px;
  padding-top: 2px;
}

.cartBtn {
  outline: none;
  border: none;
  width: 100%;
  height: 40px;
  margin: 3px;
  margin-top: 13px;
  background: #E94E26;
}

.cartBtnText {
  color: white;
  margin: 0px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display:flex;
  justify-content: center;
  align-items: center;
}

.cartElement {
  margin-left: 3px;
}

.cartItems {
  border-bottom: 0.5px solid #003764;
  padding-bottom: 10px;
  margin-bottom: 4px;
  color: #003764;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.cartInfo {
  width: 70%;
}

.cartItem {
  margin: 0px;
}

.cartAmount{
  width: 20%;
  display: flex;
  flex-direction: column;
}

.itemPrice {
  width: 100%;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  padding-bottom: 0px;
}

/*.cartUnits {
  display: flex;
  justify-content: space-between;
}*/

.cartCancel {
  width: 10%;
  font-weight: bold;
  text-align: center;
  padding: 0px;
  padding-top: 1.5px;
  padding-bottom: 0px;
  color: #E94E26;
}

.tableTitle {
  margin: 0px;
  margin-left: 15px;
  color: #E94E26;
}

.tableTitleTwo {
  margin: 15px;
  margin-top: 5px;
  color: #009FE3;
}

.table {
  width: 80%;
  margin: 15px;
}

.tr {
  display: flex;
  width: 100%;
}

.td {
  border: none !important;
  padding: 0px !important;
  padding-bottom: 8px !important;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0px;
  margin-right: 10px;
}

.tableInput {
  width: 525px;
  height: 50px;
  border: 1.5px solid #ebecf1;
  padding: 15px;
}

.tableSpan {
  color: #003764;
  font-size: 17px;
  padding: 5px;
  padding-left: 0px;
}

.zuruckBtnOne {
  width: 130px;
  border: 1px solid #E94E26;
  border-radius: 0px;
  color: #E94E26;
  font-size: 15px;
  outline: none;
  padding: 12px 16px;
  cursor: pointer;
  margin: 2px;
  margin-left: 15px;
  margin-top: 40px;
  background: none;
}

.rechnung, .zahlungs {
  margin-top: 30px;
  color: #009FE3;
}

.rechnungOptions {
  display: flex;
  color: #003764;
  align-items: center;
}

.zahlungsOptions {
  display: flex;
  color: #003764;
}

.checkInput {
  border: solid #003764 !important;
}

.checkLabel {
  margin: 0px;
  margin-left: 5px;
  font-size: 17px;
}

.zahlungsCheckOne {
  margin-right: 85px;
}

.endMsgContainer {
  width: 80%;
  margin: 15px;
}

.endMsgTitle {
  margin-bottom: 25px;
  margin-top: 40px;
  color: #E94E26;
  font-weight: lighter;
}

.endMsgTextOne {
  color: #003764;
  font-size:  25px;
  font-weight: lighter;
}

.endMsgButtonsContainer {
  width: 100%;
  display: flex;
  margin-left: 3px; 
}

.endMsgBtn {
  width: 255px;
  border: none;
  border-radius: 0px;
  color: white;
  font-size: 13px;
  outline: none;
  padding: 13px 10px;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
  text-align: center;
}

.endMsgBtn:hover {
  text-decoration: none;
  color: white;
}

.downloadBtn {
  margin-left: 0px;
  background: #E94E26;
}

.nachbestellenBtn {
  background: #003764;
}

.zuruckBtnTwo {
  background: #009FE3;
}

.endMsgTextTwo {
  color: #003764;
  font-size: 25px;
  margin-top: 35px;
  font-weight: lighter;
}
