.title {
  font-size: 45px;
  color: #E94E26;
  margin-left: 15px;
}

.filterTitle {
  color: #003764;
  font-size: 10px;
}

.filterDiv {
  float: left;
  border: 1px solid #009FE3;
  color: #003764;
  width: 330px;
  height: 228px;
  padding: 30px;
  margin: 5px;
  text-align: center;
  display: none;
  text-align: left;
}

.blockTitle {
  color: #E94E26;
  font-weight: 10;
}

.show {
  display: block;
}

.container {
  overflow: hidden;
}

#myBtnContainer {
  margin-left: 18px;
  margin-bottom: 30px;
  width: 1024px;
}

.btn {
  border: 1px solid #009FE3;
  border-radius: 0px;
  color: #009FE3;
  font-size: 12px;
  outline: none;
  padding: 12px 16px;
  cursor: pointer;
  margin: 2px; 
}

.btn:hover {
  border: 2px solid #003764;
}

.btn.active {
  border: 2px solid #003764;
  color: #003764;
}
