.container {
  overflow: hidden;
  padding: 0px;
  margin-left: 118px;
}

.title {
  font-size: 45px;
  color: #E94E26;
  padding-left: 14px;
}

#selectedFilters {
  width: 1012px;
  border-bottom: 1px solid #E8E8E8;
  margin-left: 15px;
  margin-bottom: 20px;
  margin-top: 30px;
  display: flex; 
  padding: 0px;
}

.filter {
  width: auto;
  border: none;
  border-radius: 0px;
  color: white;
  font-size: 10px;
  outline: none;
  padding: 10px 15px;
  cursor: pointer;
  margin: 2px;
  margin-bottom: 20px;
  text-transform: uppercase; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.orangeFilter {
  margin-left: 0px;
  background: #E94E26;
}

.datumBlueFilter, .themaBlueFilter {
  background: #003764;
}

.grey {
  filter: grayscale(1);
  opacity: 0.3;
}

.filterDiv {
  float: left;
  border: 1.5px solid #009FE3;
  color: #003764;
  width: 330px;
  height: 193px;
  padding: 20px;
  padding-bottom: 0px;
  padding-right: 0px;
  margin: 5.5px;
  margin-bottom: 6px;
  display: none;
  text-align: left;
  position: relative;
}

.show {
  display: block;
}

.ticketsName {
  font-size: 45px;
  color: #009FE3;
  padding-right: 15px !important;
  padding-top: 80px !important;
  text-align: start;
}

.dateName {
  font-size: 45px;
  color: #E94E26;
  font-weight: lighter;
  padding-right: 15px !important;
  padding-top: 80px !important;
  text-align: start;
}

.timeName {
  font-size: 45px;
  color: #003764;
  text-align: start;
  padding-top: 80px !important;
}

.blockContainer {
  margin-right: 20px;
}

.blockTitle {
  color: #E94E26;
  padding-bottom: 0px;
  margin: 0px;
  margin-bottom: 5px;
  font-size: 16px;
}

.blockTime {
  margin: 0px;
  margin-bottom: 5px;
  font-size: 14px;
}

.blockText {
  font-size: 14px;
  margin: 0px;
  margin-right: 10px;
  font-size: 13px;
}

.buttonsContainer {
  display:flex;
  justify-content: end;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.cart, .info {
  background: #009FE3;
  border: none;
  width: 36px;
  height: 36px;
  margin-left: 4px;
  font-size: 8px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart:hover,.info:hover {
  background: #E94E26;
  text-decoration: none;
  color: white;
  
}

.infoImg, .cartImg {
  width: 25px;
  height: 25px;
  filter: invert(100%);
}

.infoImg:hover {
  transform: scaleX(-1);
}

.cartImg:hover {
  transform: rotate(-10deg);
}

#filterBtnContainerOne, #filterBtnContainerTwo, #filterBtnContainerThree {
  margin-bottom: 25px;
  width: 1012px;
  margin-left: 15px;
}

#filterBtnContainerThree {
  margin-bottom: 0px;
}

.display {
  margin-left: 15px;
  width: 1042px;
}

.filterTitle {
  color: #009FE3;
  font-size: 10px;
}

.btnOrange {
  width: 200px;
  border: 1px solid #E94E26;
  border-radius: 0px;
  color: #E94E26;
  font-size: 12px;
  outline: none;
  padding: 12px 16px;
  cursor: pointer;
  margin: 2px;
  background: none;
}

.btnOrangeLarge {
  width: 750px;
}

.btnOrange:hover {
  background: #E94E26;
  color: white;
}

.btnOrange.active {
  background: #E94E26;
  color: white;
}

.btn {
  border: 1px solid #003764;
  border-radius: 0px;
  color: #003764;
  font-size: 12px;
  outline: none;
  padding: 12px 16px;
  cursor: pointer;
  margin: 2px; 
}

.btnHover:hover {
  background: #003764;
  color: white;
}

.btn.active {
  background: #003764;
  color: white;
}

#warenkorb {
  width: 1002px;
  border: 1px solid #E94E26;
  color: #E94E26;
  font-size: 12px;
  outline: none;
  padding: 12px 16px;
  cursor: pointer;
  margin: 15px;
}

.cartLeer {
  color: #003764;
  margin: 13px;
  margin-left: 0px;
}

.shake {
  animation:  shake 0.8s;
}

@keyframes shake{
  0%{
      transform: translateX(0)
    }
    25%{
      transform: translateX(5px);
    }
      
    50%{
      transform: translateX(-6px);
    }
    100%{
      transform: translateX(0px);
    }
}

.cartTotal {
  color: #003764;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-right: 54px;
  margin-left: 3px;
  font-size: 15px;
}

.cartBtn {
  outline: none;
  border: none;
  width: 100%;
  height: 40px;
  margin: 3px;
  background: #E94E26;
}

.cartBtnText {
  color: white;
  margin: 0px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display:flex;
  justify-content: center;
  align-items: center;
}

.cartElement {
  margin-left: 3px;
}

.cartItems {
  border-bottom: 0.5px solid #003764;
  padding-bottom: 10px;
  margin-bottom: 15px;
  color: #003764;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.cartInfo {
  width: 90%;
}

.cartItem {
  margin: 0px;
}

.cartAmount{
  width: 5%;
  display: flex;
  flex-direction: column;
}

.itemPrice {
  width: 100%;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  padding-bottom: 0px;
}

/*.cartUnits {
  display: flex;
  justify-content: space-between;
}*/

.cartCancel {
  width: 5%;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  padding-top: 1.5px;
  padding-bottom: 0px;
  color: #E94E26;
}

.tableTitle {
  margin: 15px;
  margin-bottom: 0px;
  margin-top: 40px;
  color: #E94E26;
}

.tableTitleTwo {
  margin: 15px;
  margin-top: 5px;
  color: #009FE3;
}

.table {
  width: 80%;
  margin: 15px;
}

.tr {
  display: flex;
  width: 100%;
}

.td {
  border: none !important;
  padding: 0px !important;
  padding-bottom: 8px !important;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0px;
  margin-right: 10px;
}

.tableInput {
  width: 451px;
  height: 50px;
  border: 1.5px solid #ebecf1;
  padding: 5px;
}

.tableSpan {
  color: #003764;
  font-size: 17px;
  padding: 5px;
  padding-left: 0px;
}

.zuruckBtnOne {
  width: 130px;
  border: 1px solid #E94E26;
  border-radius: 0px;
  color: #E94E26;
  font-size: 15px;
  outline: none;
  padding: 12px 16px;
  cursor: pointer;
  margin: 2px;
  margin-left: 15px;
  margin-top: 40px;
  background: none;
}

.rechnung, .zahlungs {
  margin-top: 30px;
  color: #009FE3;
}

.rechnungOptions {
  display: flex;
  color: #003764;
  align-items: center;
}

.zahlungsOptions {
  display: flex;
  color: #003764;
}

.checkInput {
  border: solid #003764 !important;
}

.checkLabel {
  margin: 0px;
  margin-left: 5px;
}

.zahlungsCheckOne {
  margin-right: 85px;
}

.endMsgContainer {
  width: 80%;
  margin: 15px;
}

.endMsgTitle {
  margin-bottom: 15px;
  margin-top: 40px;
  color: #E94E26;
  font-weight: lighter;
}

.endMsgTextOne {
  color: #003764;
  font-size: 20px;
  font-weight: lighter;
}

.endMsgButtonsContainer {
  width: 100%;  
}

.endMsgBtn {
  width: 255px;
  border: none;
  border-radius: 0px;
  color: white;
  font-size: 13px;
  outline: none;
  padding: 13px 10px;
  cursor: pointer;
  margin: 5px;
}

.downloadBtn {
  margin-left: 0px;
  background: #E94E26;
}

.nachbestellenBtn {
  background: #003764;
}

.zuruckBtnTwo {
  background: #009FE3;
}

.endMsgTextTwo {
  color: #003764;
  font-size: 20px;
  margin-top: 25px;
  font-weight: lighter;
}
