<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>Review {{ doc.name }}</title>
</head>
<body>
  <!-- timestamp -->
<h3>{{ doc.name }}</h3>

<h1>{{ doc.official_title }}</h1>

<h3>{{ doc.time }}</h3>
<h3>{{ doc.location }}</h3>
<h4>{{ doc.location_detail_1 }}</h4>
<h4>{{ doc.location_detail_2 }}</h4>
<h4>{{ doc.location_detail_3 }}</h4>

<!-- main content -->
<table>
<tr><td>Herausforderungen</td><td>{{ doc.topic }}<br><i>(350 Zeichen inklusive Leerzeichen)</i></td></tr>
<tr><td>Zentrale Fragen</td><td>{{ doc.content }}<br><i>(350 Zeichen inklusive Leerzeichen)</i></td></tr>
<tr><td>Ihr Nutzen</td><td>{{ doc.use }}<br><i>(200 Zeichen inklusive Leerzeichen)</i></td></tr>
</table>

<!-- partner -->

<!-- program details -->
<h1>Programm</h1>
<table>
{% for detail in doc.planning %}
  <tr>
    <td>Beschreibung</td><td>{{ detail.title }}</td>
  </tr>
  {% if "REF" in detail.format|upper %}
    <tr>
      <td>Person</td>  
      <td>{{ detail.person_long_name }}</td>
    </tr>
    <tr>
      <td>Funktion</td>  
      <td>{{ detail.person_website_description }}</td>
    </tr>
    <tr>
      <td>Status</td>  
      <td>{{ detail.status }}</td>
    </tr>
    <tr>
      <td>Rolle</td>  
      <td>{{ detail.person_role }}</td>
    </tr>
    <tr>
      <td>Dauer (min)</td>  
      <td>{{ detail.duration }}</td>
    </tr>
    <tr>
      <td>Geschlecht</td>  
      <td>{{ detail.gender }}</td>
    </tr>
    <tr>
      <td>Stakeholder</td>  
      <td>{{ detail.stakeholder }}</td>
    </tr>
    <tr>
      <td>Hierarchiestufe</td>  
      <td>{{ detail.hierarchiestufe }}</td>
    </tr>
    <tr>
      <td>GzD Titel</td>  
      <td>{{ detail.gzd_title }}</td>
    </tr>
    <tr>
      <td>GzD Name</td>  
      <td>{{ detail.gzd_person }}</td>
    </tr>
  {% endif %}
  <tr>
    <td>Kommentar</td>  
    <td></td>
  </tr>
{% endfor %}
</table>

<!-- people -->
<table>
  <tr>
    <th>Rolle</th>
    <th>Kontakt</th>
    <th>Name</th>
    <th>Beschreibung</th>
  </tr>
{% for detail in doc.planning %}
  <tr>
    <td>{{ detail.person_role }}</td>
    <td>{{ detail.person }}</td>
    <td>{{ detail.person_long_name }}</td>
    <td>{{ detail.person_website_description }}</td>
  </tr>
{% endfor %}
</table>

</body>
</html>
